
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: lightgray;
    background-color: #111;
}

.hero{
    background: url() no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 40px;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    transition: transform 0.3s ease, opacity 0.3 ease;
}
.nav-links li a:hover{
    color: #e85d75;
    font-size: large;
    transform: scale(1.1) rotate(3deg);
    opacity: 0.95;
}

.hamburger{
    display: none;
    font-size: 1.8rem;
    color: #fff;
}

.hero-content{
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.hero-content h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.hero-content p{
    margin-bottom: 1rem;

}

.cta{
    background-color: #e85d75;
    border: none;
    padding: 0.8rem 1.8rem;
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.description{
    font-size: 0.9rem;
    line-height: 1.5;
}

/* Responsive */

@media (max-width:768px){
    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hero{
        padding: 1.5rem;
        text-align: center;
    }
    .hero-content h1{
        font-size: 1.5rem;
    }

    .description{
        font-size: 0.85rem;
    }
}

/* What we Do Section */

.what-we-do{
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    color: #333;
}

.section-header{
    max-width: 700px;
    margin: 0 auto 40px;
}

.services{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service{
    max-width: 200px;
    text-align: center;
}

.icon{
    font-size: 40px;
    color: #ff6565;
    margin-bottom: 20px;
    display: inline-block;
}

/* Our results  Section*/
.results{
    background: url() no-repeat center;
    background-size: cover;
    padding: 60px 20px;
    color: #fff;
    text-align: center;
}

.results-content{
    max-width: 1000px;
    margin: 0 auto;
}

.results h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.results p{
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 14px;
    line-height: 1.6;
}

.result-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.result-card{
    width: 120px;
    height: 130px;
    background-color: #ff6565;
    clip-path: polygon(50% 0%, 100% 25%, 80% 100%, 20% 100%, 0% 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: transform 0.3s ease, opacity 0.3 ease;
}
.result-card:hover{
    transform: scale(1.1) rotate(3deg);
    opacity: 0.95;
}

.result-card .percent{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.result-card .desc{
    font-size: 12px;
    margin-top: 5px;
}

/* Contact Section */

.contact{
    padding: 60px 20px;
    text-align: center;
    background: #fff;
}
.contact form{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
}

.contact input, .contact textarea{
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.contact button{
    background: #ff6565;
    color: white;
    border: none;
    padding:  12px;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    
}

.contact button:hover{
    opacity: 0.9;
}

footer{
    background-color: #061e38;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    flex-wrap: wrap;
}

footer .socials i{
    margin-left:15px;
    font-size: 1.2rem;
    cursor:pointer;
}

footer .socials i:hover{
    color: #ff6565;
}

@media (max-width:480px) {
    .navbar{
        flex-direction: column;
        gap: 15px;
    }
    .results .result-cards{
        flex-direction: column;
        align-items: center;
    }

    .what-we-do .services{
        flex-direction: column;
        align-items: center;
    }
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

.service:hover{
    transform: scale(1.1) rotate(-2deg);
    opacity: 0.9;
}


